link url(https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext);

html,body{
    width: auto;
    height: auto;
    font-family: "Inconsolata";
    -webkit-font-smoothing: antialiased;
    background-image: url("https://wallpaperplay.com/walls/full/5/8/5/76997.jpg");
    background-size: cover;
    background-position:center center ;
    position: relative;
    background-attachment: fixed;
    left: 0;
    top: 0;
    

}

h2{
  padding-top: 30;
  text-align: center;
  font-size: 32px;
  color:black;
  font-weight: 400;
}
h4{
  font-size: 24px;
  margin-bottom: 50px;
  font-weight: 400;
}
p{
  width: 100%;
  text-align: center;
  font-size: 30;
  color:blueviolet;
}
li{
  width: 100%;
  text-align: center;
  color: blue;

}
li a{
  width: 100%;
  text-align: center;
  color: blue;

}
.product{
  text-align: left;
  font-size: 20;
  font-stretch: auto;
}
.view{
  text-align: left;
  opacity: 0.7;
  line-height: 3;
}
